use_nvm() {
  watch_file .nvmrc
  local NVM_PATH="$HOME/.nvm/nvm.sh"
  if ! [ -f "$NVM_PATH" ]; then
    echo "nvm not found at $NVM_PATH"
    echo "Please install nvm and try again"
    return 1
  fi
  . "${NVM_PATH}"
  nvm install
  layout node
}

# Venv
export VIRTUAL_ENV="$(expand_path ./.venv)"

use_nvm 20.14.0

npm install --include=dev
